/* Global Styles */
body {
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
}

input, button {
    outline: none;
}

/* Header */
.todo-header__info {
    width: 500px;
    margin: 0 auto;
    display: block;
    text-align: right;
}

.todo-header__info img {
    width: 100%;
}

.todo-header__more-info {
    font-family: fantasy, cursive;
}

@media (max-width: 768px) {
    .todo-header__info {
        text-align: center;
    }
}

/* Main */
.todo-main {
    display: block;
    width: 500px;
    margin: 0 auto;
}

/* Add Item Section */
.todo-add-item__input-wrapper {
    display: flex;
}

.todo-add-item__input {
    width: 56%;
    display: inline-block;
    flex-grow: 1;
}

/* Task List */
.todo-list__items,
.todo-list__heading {
    margin: 0;
    padding: 0;
}

.todo-list__item,
.todo-list__heading {
    list-style: none;
}

/* Buttons */
button {
    background: none;
    border: 0;
    color: #888;
    font-size: 15px;
    width: 60px;
    font-family: Lato, sans-serif;
    cursor: pointer;
}

button:hover {
    color: #3a3a3a;
}
