/* Add Item Section */
.todo-add-item__label {
    display: block;
    margin: 0 0 20px;
}

#new-task.todo-add-item__input {
    width: 318px;
}

/* Task List */
.todo-list__item {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-list__item > * {
    vertical-align: middle;
}

.todo-list__checkbox {
    margin: 0 10px;
}

.todo-list__task {
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 226px;
}

.todo-list__edit-input {
    width: 226px;
}

.todo-list__delete-button img {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
}

.todo-list__delete-button img:hover {
    transform: rotateZ(0);
}

/* Completed Tasks */
.todo-list__items--completed .todo-list__task {
    text-decoration: line-through;
    color: #888;
}

/* Edit Task */
.todo-list__edit-input {
    display: none;
}

.todo-list__item--edit-mode .todo-list__edit-input {
    display: inline-block;
    width: 224px;
}

.todo-list__item--edit-mode .todo-list__task {
    display: none;
}
