/* Basic Style */
body {
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
}

.todo-header__info {
    width: 500px;
    margin: 0 auto;
    display: block;
    text-align: right;
}

.todo-header__info img {
    width: 100%;
}

.todo-header__more-info {
    font-family: fantasy, cursive;
}

@media (max-width: 768px) {
    .todo-header__info {
        text-align: center;
    }
}

.todo-main {
    display: block;
    width: 500px;
    margin: 0 auto;
}

.todo-add-item__input {
    width: 56%;
    display: inline-block;
    flex-grow: 1;
}

.todo-add-item__input-wrapper {
    display: flex;
}

.todo-list__items,
.todo-list__heading {
    margin: 0;
    padding: 0;
}

.todo-list__item,
.todo-list__heading {
    list-style: none;
}

input, button {
    outline: none;
}
